In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./dataset/ad.data', header=None)
data.head()

C:\Users\Sydney\AppData\Local\Temp\ipykernel_9868\810858340.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./dataset/ad.data', header=None)

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [3]:
with open('./dataset/ad.names', "r", encoding="iso-8859-1") as file:
    lines = [line.rstrip() for line in file]

In [4]:
unparsed = pd.DataFrame(lines)
unparsed.columns = ['Original']
unparsed[0:12]

                                             Original
0   | "w:\c4.5\alladA" names file -- automatically...
1
2                                ad, nonad | classes.
3
4                                 height: continuous.
5                                  width: continuous.
6                                 aratio: continuous.
7                                         local: 0,1.
8                       | 457 features from url terms
9                            url*images+buttons: 0,1.
10                           url*likesbooks.com: 0,1.
11                            url*www.slake.com: 0,1.

In [5]:
unparsed['Description'] = unparsed['Original'].str.contains('\|')
unparsed['Blank'] = unparsed['Original'] == ''
unparsed['Feature'] = None
unparsed['FVal'] = None
unparsed['FType'] = None
for i in range(len(unparsed)):
    if (unparsed['Description'][i] == False) & (unparsed['Blank'][i] == False):
        feature, fval = unparsed['Original'][i].split(": ")
        fval = fval[:-1]
    else:
        feature, fval = None, None
    unparsed['Feature'][i] = feature
    unparsed['FVal'][i] = fval
    if (fval == '0,1'):
        ftype = 'Binary'
    elif fval == 'Continuous':
        ftype = 'Continuous'
    else:
        ftype = 'Other'
    unparsed['FType'][i] = ftype

C:\Users\Sydney\AppData\Local\Temp\ipykernel_9868\802500383.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unparsed['Feature'][i] = feature
C:\Users\Sydney\AppData\Local\Temp\ipykernel_9868\802500383.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unparsed['FVal'][i] = fval
C:\Users\Sydney\AppData\Local\Temp\ipykernel_9868\802500383.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unparsed['FType'][i] = ftype

In [6]:
unparsed

,Original,Description,Blank,Feature,FVal,FType
0,"| ""w:\c4.5\alladA"" names file -- automatically...",True,False,None,None,Other
1,,False,True,None,None,Other
2,"ad, nonad | classes.",True,False,None,None,Other
3,,False,True,None,None,Other
4,height: continuous.,False,False,height,continuous,Other
...,...,...,...,...,...,...
1562,"caption*bytes: 0,1.",False,False,caption*bytes,"0,1",Binary
1563,"caption*here: 0,1.",False,False,caption*here,"0,1",Binary
1564,"caption*click: 0,1.",False,False,caption*click,"0,1",Binary
1565,"caption*for: 0,1.",False,False,caption*for,"0,1",Binary
1566,"caption*you: 0,1.",False,False,caption*you,"0,1",Binary

In [7]:
parsed = unparsed[(unparsed.Description == False) & (unparsed.Blank == False)]
parsed = parsed.drop(columns = ['Description', 'Blank'])
parsed

                      Original             Feature        FVal   FType
4          height: continuous.              height  continuous   Other
5           width: continuous.               width  continuous   Other
6          aratio: continuous.              aratio  continuous   Other
7                  local: 0,1.               local         0,1  Binary
9     url*images+buttons: 0,1.  url*images+buttons         0,1  Binary
...                        ...                 ...         ...     ...
1562       caption*bytes: 0,1.       caption*bytes         0,1  Binary
1563        caption*here: 0,1.        caption*here         0,1  Binary
1564       caption*click: 0,1.       caption*click         0,1  Binary
1565         caption*for: 0,1.         caption*for         0,1  Binary
1566         caption*you: 0,1.         caption*you         0,1  Binary

[1558 rows x 4 columns]

In [8]:
feature_names = list(parsed.Feature)
feature_names = feature_names + ['ad']
len(feature_names)

1559

In [9]:
data.shape

(3279, 1559)

In [10]:
combined_df = data
combined_df.columns = list(feature_names)
combined_df

,height,width,aratio,local,url*images+buttons,url*likesbooks.com,url*www.slake.com,url*hydrogeologist,url*oso,url*media,...,caption*home,caption*my,caption*your,caption*in,caption*bytes,caption*here,caption*click,caption*for,caption*you,ad
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,170,94,0.5529,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3275,101,140,1.3861,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3276,23,120,5.2173,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3277,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3278,40,40,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.

In [11]:
combined_df.describe()

,url*images+buttons,url*likesbooks.com,url*www.slake.com,url*hydrogeologist,url*oso,url*media,url*peace+images,url*blipverts,url*tkaine+kats,url*labyrinth,...,caption*of,caption*home,caption*my,caption*your,caption*in,caption*bytes,caption*here,caption*click,caption*for,caption*you
count,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,...,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000
mean,0.004270,0.011589,0.004575,0.003355,0.003965,0.011589,0.003355,0.004880,0.009149,0.004575,...,0.006099,0.004575,0.003660,0.002440,0.003050,0.006404,0.012809,0.013419,0.009759,0.001525
std,0.065212,0.107042,0.067491,0.057831,0.062850,0.107042,0.057831,0.069694,0.095227,0.067491,...,0.077872,0.067491,0.060393,0.049341,0.055148,0.079783,0.112466,0.115077,0.098320,0.039026
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
combined_df.to_csv("./dataset/data.csv", index=False)